<h3>
<% if miss.errors.any? %>
  <%= miss.errors.count %> errors prohibited this obj from being saved:
    <ul>
      <% miss.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
</h3>